/* VAR */
:root{
    /* colors */
    --header-bg: #2C3E50;
    --green-bg: #1ABC9C;
    --box-red: #BA4B63;
    --box-light-blue: #1EA4B6;
    --box-sky-blue: #1C83C1;
    --box-blue: #0E38B5;
    --box-beige: #CCB2A3;
    --box-black: #140F0F;
    --footer-bottom-bg: #3A546D;
    --font-color: #2C3E50;

    /* dimensions */
    --header-height: 75px;
}
/* /VAR */

/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.heading-star-white::before{
   content: "";
   display: inline-block;
   height: 3px;
   border-radius: 10px;
   width: 10%;
   background-color: white;
   margin-right: 1rem;
   vertical-align: super;
}

.heading-star-white::after{
   content: "";
   display: inline-block;
   height: 3px;
   border-radius: 10px;
   width: 10%;
   background-color: white;
   margin-left: 1rem;
   vertical-align: super;
}

.heading-star-black::before{
   content: "";
   display: inline-block;
   height: 3px;
   border-radius: 10px;
   width: 10%;
   background-color: black;
   margin-right: 1rem;
   vertical-align: super;
}

.heading-star-black::after{
   content: "";
   display: inline-block;
   height: 3px;
   border-radius: 10px;
   width: 10%;
   background-color: black;
   margin-left: 1rem;
   vertical-align: super;
}

.star{
   font-size: 1.5rem;
}
/* /COMMON */

 /* HEADER */
 header{
    height: var(--header-height);
    background-color: var(--header-bg);
    color: white;
 }
 /* /HEADER */

 /* MAIN */
 .bg-green{
    background-color: var(--green-bg);
    color: white;
 }
 /* /MAIN */

 /* FOOTER */
footer{
   color: white;
}

 .footer-top{
   background-color: var(--header-bg);
 }

 .footer-bottom{
   height: var(--header-height );
   line-height: var(--header-height);
   background-color: var(--footer-bottom-bg);
 /* /FOOTER */