/* VAR */
:root{
    /* colors */
    --header-bg: #2C3E50;
    --green-bg: #1ABC9C;
    --box-red: #BA4B63;
    --box-light-blue: #1EA4B6;
    --box-sky-blue: #1C83C1;
    --box-blue: #0E38B5;
    --box-beige: #CCB2A3;
    --box-black: #140F0F;
    --footer-bottom-bg: #3A546D;
    --font-color: #2C3E50;
}
/* /VAR */

/* COMMON */
img{
    max-width: 100%;
}

ul{
    list-style-type: none;
 }

 /* .star{
    font-size: 2rem;
 } */
/* /COMMON */

 /* HEADER */
 header{
    height: 75px;
    background-color: var(--header-bg);
    color: white;
 }
 /* /HEADER */

 /* MAIN */
 .bg-green{
    background-color: var(--green-bg);
    color: white;
 }
 /* /MAIN */